<div class="ui container" id="container">
  <h2>Currency Converter</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="handleConvert()"
    class="ui form {{ loading ? 'loading' : '' }}"
  >
    <div class="field">
      <label>From</label>

      <sui-select
        formControlName="fromCurrency"
        suiPlaceholder="Select Currency"
        [suiOptions]="currencies"
      ></sui-select>
      <div
        class="ui pointing red basic label"
        *ngIf="
          form.controls['fromCurrency'].value ===
          form.controls['toCurrency'].value
        "
      >
        Please choose different currencies to convert.
      </div>
    </div>
    <div id="iconCustom" (click)="toggleCurrencies()" class="ui message">
      <i id="icon" class="exchange icon"></i>
    </div>

    <div class="field">
      <label>To</label>
      <sui-select
        formControlName="toCurrency"
        suiPlaceholder="Select Currency"
        [suiOptions]="currencies"
      ></sui-select>
    </div>

    <div class="required field">
      <label>Amount</label>
      <input
        type="number"
        formControlName="amount"
        name="amount"
        placeholder="Enter amount"
        required
      />
    </div>

    <button type="submit" class="ui button teal" [disabled]="form.invalid">
      Convert
    </button>
  </form>

  <div *ngIf="conversionResult" class="ui message blue">
    <p>
      {{ conversionResult }}
    </p>
  </div>

  <div *ngIf="errorMessage" class="ui negative message">
    <p>{{ errorMessage }}</p>
  </div>
</div>
